/* =Base Styles
-------------------------------------------------------------- */

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position:relative;
}

/* Typography */
body, select, input, textarea {
  color: #444;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
h1,h2,h3,h4,h5,h6 { margin: 0 0 0.5em 0; }
h1 { font-size: 2.25em; }
h2 { font-size: 2.em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; font-weight: 400; }
h6 { font-size: 1em; font-weight: 400; }
a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #308fbf; }
a:hover { color: #3db6f2; }
p { margin: 0 0 1.2em; }
p:last-child { margin-bottom: 0; }
ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }
ul, ol, dl { margin-bottom: 0.6em; }
ul li, ol li { padding-bottom: 0.6em; }

/* Images */
img {
  max-width: 100%;
  height: auto;
}


/* =Nonsemantic Base Styles
-------------------------------------------------------------- */

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Hide for both screenreaders and browsers */
.is-hidden { display: none; visibility: hidden; }
/* Hide only visually, but have it available for screenreaders */
.is-screen-reader-text,
.is-visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* Hide visually and from screenreaders, but maintain layout */
.is-invisible { visibility: hidden; }


/* =Layout: Panels, Pages, Profiles
-------------------------------------------------------------- */

#panels.swiper-container, #panels .swiper-slide {
  width: 100%;
  height: auto;
}

.swiper-slide {
  position: relative;
}

.panel-nav {
  display: none;
}

#panels, #page, #profile {
  position: absolute;
  z-index: 100;
  top: 2.5em;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
  background: #eee;
}

#page {
  background: #fff;
  overflow: auto;
  padding: 0.75em;
  box-shadow: 0 0 1em rgba(0,0,0,0.25);
  -webkit-transition: -webkit-transform 0.7s;
     -moz-transition:    -moz-transform 0.7s;
       -o-transition:      -o-transform 0.7s;
          transition:         transform 0.7s;
  -webkit-transform: translate(0,0);
     -moz-transform: translate(0,0);
       -o-transform: translate(0,0);
          transform: translate(0,0);
  border-radius: 0.25em 0.25em 0 0;
  margin-top: 0.25em;
}
#page.is-closed {
  z-index: 99;
  -webkit-transition: -webkit-transform 0.7s, z-index 1.5s;
     -moz-transition:    -moz-transform 0.7s, z-index 1.5s;
       -o-transition:      -o-transform 0.7s, z-index 1.5s;
          transition:         transform 0.7s, z-index 1.5s;
  -webkit-transform: translate(0,100%);
     -moz-transform: translate(0,100%);
       -o-transform: translate(0,100%);
          transform: translate(0,100%);
}


#profile {
  background: #666;
  color: #fff;
  overflow: auto;
  padding: 0.75em;
  box-shadow: 0 0 1em rgba(0,0,0,1);
  -webkit-transition: -webkit-transform 0.7s;
     -moz-transition:    -moz-transform 0.7s;
       -o-transition:      -o-transform 0.7s;
          transition:         transform 0.7s;
  -webkit-transform: translate(0,0);
     -moz-transform: translate(0,0);
       -o-transform: translate(0,0);
          transform: translate(0,0);
}
#profile.is-closed {
  z-index: 99;
  -webkit-transition: -webkit-transform 0.7s, z-index 1.5s;
     -moz-transition:    -moz-transform 0.7s, z-index 1.5s;
       -o-transition:      -o-transform 0.7s, z-index 1.5s;
          transition:         transform 0.7s, z-index 1.5s;
  -webkit-transform: translate(0,-100%);
     -moz-transform: translate(0,-100%);
       -o-transform: translate(0,-100%);
          transform: translate(0,-100%);
}

/* Close Button */
a.close-btn {
  float: right;
  text-decoration: none;
  height: 2em;
  width: 2em;
  text-align: center;
  margin: 0;
  color: LightSalmon;
  position: relative;
  z-index: 2;
}
a.close-btn:hover {
  color: Salmon;
}
.close-icon {
  font-size: 1.5em;
  line-height: 1.2;
}

.profile-close-btn {
  display: none;
}


/* =Sections
-------------------------------------------------------------- */

.section-container {
  padding: 0.75em;
}

.section-header {
  background: #666;
  color: #fff;
  margin: -0.75em -0.75em 0.75em -0.75em;
  padding: 0 0.75em;
  font-size: 1em;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 2.25;
}
.events-header {
  background: Salmon;
}
.resources-header {
  background: MediumPurple;
}
.stories-header {
  background: DarkOrange;
}
.community-header {
  background: YellowGreen;
}

/* Section Navigation */
.section-nav {
  margin: -3em -0.75em 0.75em;
  height: 2.25em;
  position: relative;
  z-index: 50;
  font-family: Futura, "Arial Black", Arial, Helvetica, sans-serif;
  overflow: hidden;
}
.section-nav a {
  font-size: 2.5em;
  text-decoration: none;
  line-height: 1.25;
  color: #ddd;
  color: rgba(255,255,255,0.5);
  padding: 0 0.25em;
  margin-top: -0.325em;
}
.section-nav .prev { float: left; padding-left: 0.2em; }
.section-nav .next { float: right; padding-right: 0.2em; }

/* Content */
.content {
  position: absolute;
  top: 2.25em;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  padding: 0.5em;
}


/* =Smooth Native Scrolling in iOS
-------------------------------------------------------------- */

.content,
#page,
#profile {
  -webkit-overflow-scrolling: touch;
}
.content > *,
#page > *,
#profile > * { -webkit-transform: translateZ(0px); }

body.is-page-open .content,
body.is-profile-open .content,
body.is-profile-open #page {
  -webkit-overflow-scrolling: auto;
}



/* =Site Header
-------------------------------------------------------------- */

#site-header {
  position: relative;
  z-index: 200;
  background-color: #666;
  color: #fff;
  height: 2.5em;
  padding: 0 0.75em;
}

#site-header a {
  color: #fff;
  text-decoration: none;
}

#site-title {
  font-size: 1em;
  line-height: 2.5em;
}

a.profile-open-btn {
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  height: 2em;
  width: 2em;
  text-align: center;
  background: rgba(255,255,255,0.1);
  box-shadow: 0 0 0.25em rgba(0,0,0,0.2);
  border-radius: 0.2em;
}
.menu-icon {
  font-size: 1.5em;
  line-height: 1.325;
  color: #c4c4c4;
  text-shadow: 0 0 0.125em rgba(0,0,0,0.25);
}


/* =Feed Items
-------------------------------------------------------------- */

.feed-item {
  position: relative;
  line-height: 1.5;
  background: White;
  padding: 0.75em;
  margin: 0 0 0.5em;
  box-shadow: 0 0 0.2em rgba(0,0,0,0.2);
  border-radius: 0.2em;
}
.feed-item-header {
  line-height: 1.25;
}
.feed-item-header a {
  text-decoration: none;
}
.feed-item-title {
  font-size: 1.25em;
  line-height: 1.25;
  margin: 0;
}
.feed-item-meta {
  font-size: 0.8em;
  color: LightSlateGray;
}
.feed-item-meta a { 
  color: LightSlateGray; 
}
.feed-item-meta a:hover { 
  color: DarkSlateGray; 
}
.feed-item-content {
  margin: 0.75em 0 0;
  font-size: 0.8em;
}

/* Events */
.event-item {
  padding-left: 4.75em;
  min-height: 5.5em;
}
.date {
  margin-bottom: 0;
}
.calendar-icon {
  position: absolute;
  top: 1.25em;
  left: 1em;
  width: 4.25em;
  background: White;
  box-shadow: 0 0.1em 0.2em rgba(0,0,0,0.2);
  border-radius: 0.2em;
  padding: 1.5em 0 0.5em;
  text-align: center;
}
#page .calendar-icon {
  top: 0.5em;
  left: 0.5em;
}
.calendar-icon .day {
  display: block;
  font-size: 2.25em;
  font-weight: bold;
}
.calendar-icon .month {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: Salmon;
  border-radius: 0.2em 0.2em 0 0;
  width: 100%;
  color: White;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.5;
}
.time,
.location {
  display: block;
  font-weight: bold;
  margin-top: 0.5em;
  margin-left: 1.25em;
  text-indent: -1.25em;
}
#page .time,
#page .location {
  font-size: 1.25em;
}
.time-icon,
.location-icon {
  width: 1.25em;
  height: auto;
  vertical-align: text-top;
}

/* Resources */
.updated {
  margin-top: 0.75em;
}

/* Search */
.section-recources .content {
  margin-top: 3em;
}
.search {
  margin: -0.75em -0.75em 0 -0.75em;
  padding: 0 0.5em;
  height: 3em;
  background: MediumPurple;
  box-shadow: 0 0 0.2em rgba(0,0,0,0.6), inset 0 1em 1em rgba(255,255,255,0.25);
  position: relative;
  z-index: 50;
}
.search input {
  font-weight: bold;
  display: block;
  position: relative;
  top: 0.5em;
  height: 2em;
  line-height: 2em;
  padding: 0 0.5em;
  width: 100%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}


/* =Page Content
-------------------------------------------------------------- */

#page {
  line-height: 1.5;
}
.page-header {
  line-height: 1.25;
  margin: 0;
}
.page-header a {
  text-decoration: none;
}
.page-title {
  line-height: 1.25;
  margin: 0;
}
.page-meta {
  font-size: 0.8em;
  color: LightSlateGray;
}
.page-meta a { color: LightSlateGray; }
.page-meta a:hover { color: DarkSlateGray; }
.page-content {
  margin: 0.75em 0 0;
}


/* =Media Queries for Responsive Layout
-------------------------------------------------------------- */

@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
  .section-nav {
    display: none;
  }
  .section-header {
    padding-bottom: 1em;
    text-align: left;
    text-indent: -9999px;
    box-shadow: inset 0 -0.25em 0 rgba(255,255,255,0.25);
  }
  .content {
    top: 3.25em;
    padding: 2em;
  }
  .panel-nav {
    display: block;
    overflow: hidden;
  }
  .panel-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 2.5em;
    right: -3px;
    bottom: auto;
    left: 0;
    line-height: 2.25;
  }
  .panel-nav li {
    float: left;
    margin: 0;
    padding: 0;
    width: 25%;
  }
  .panel-nav a {
    display: block;
    color: #fff;
    margin: 0;
    padding: 0 0.75em;
    font-size: 1em;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 2.25;
    box-shadow: inset 1px 1px 0 rgba(255,255,255,0.2), -1px -1px 0 rgba(0,0,0,0.2);
  }
  .panel-nav a.events {
    background: Salmon;
  }
  .panel-nav a.resources {
    background: MediumPurple;
  }
  .panel-nav a.stories {
    background: DarkOrange;
  }
  .panel-nav a.community {
    background: YellowGreen;
  }

  #profile {
    top: 0.125em;
    right: 0.125em;
    left: 50%;
    bottom: 25%;
    z-index: 300;
    border-radius: 0.5em;
    -webkit-transition: opacity 0.7s;
       -moz-transition: opacity 0.7s;
         -o-transition: opacity 0.7s;
            transition: opacity 0.7s;
    -webkit-transform: none !important;
       -moz-transform: none !important;
         -o-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
  }
  #profile.is-closed {
    opacity: 0;
    -webkit-transition: opacity 0.7s, z-index 1.5s;
       -moz-transition: opacity 0.7s, z-index 1.5s;
         -o-transition: opacity 0.7s, z-index 1.5s;
            transition: opacity 0.7s, z-index 1.5s;
    -webkit-transform: none !important;
       -moz-transform: none !important;
         -o-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
  }
  .profile-close-btn {
    display: block;
  }

  #page {
    top: 3.5em;
    right: 1em;
    left: 1em;
    z-index: 300;
    -webkit-transition: opacity 0.7s;
       -moz-transition: opacity 0.7s;
         -o-transition: opacity 0.7s;
            transition: opacity 0.7s;
    -webkit-transform: none !important;
       -moz-transform: none !important;
         -o-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
  }
  #page.is-closed {
    opacity: 0;
    -webkit-transition: opacity 0.7s, z-index 1.5s;
       -moz-transition: opacity 0.7s, z-index 1.5s;
         -o-transition: opacity 0.7s, z-index 1.5s;
            transition: opacity 0.7s, z-index 1.5s;
    -webkit-transform: none !important;
       -moz-transform: none !important;
         -o-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
  }
  .section-recources .content {
    top: 4.25em;
    padding-top: 1em;
  }
  .search {
    margin-left: 1em;
    margin-right: 1em;
    top: 1em;
  }
}

@media only screen and (min-width: 1024px) {
  .content {
    padding-left: 15%;
    padding-right: 15%;
  }
  #page {
    right: 15%;
    left: 15%;
  }
  .search {
    margin-left: 14%;
    margin-right: 14%;
  }
}

@media only screen and (min-width: 1300px) {
  .content {
    padding-left: 20%;
    padding-right: 20%;
  }
  #page {
    right: 20%;
    left: 20%;
  }
  .search {
    margin-left: 19%;
    margin-right: 19%;
  }
}

