*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Dotcloud
.dotcloud/

# Environment
env/
.env/
*.sublime-project
*.sublime-workspace
local_settings.py

# Bower
website/alexander/static/components/
website/alexander/node_modules/
website/alexander/static/js/*.min.js
website/alexander/static/css/*.min.css

website/myphillyrising/static/components/
website/myphillyrising/node_modules/
website/myphillyrising/static/js/*.min.js
website/myphillyrising/static/css/*.min.css