# ==============================
# Web server
# ==============================

Django



# ==============================
# Database and Model Management
# ==============================

psycopg2
south
django-reversion



# ==============================
# Meetings and events
# ==============================
#
#git+git://github.com/openplans/meetingmatters.git#egg=meetingmatters



# ==============================
# Authentication
# ==============================

django-social-auth



# ==============================
# APIs
# ==============================

djangorestframework



# ==============================
# Routes and Templating
# ==============================

django-jstemplate
django-shorturls



# ==============================
# Testing / QA
# ==============================

nose
django-nose
django-debug-toolbar