# ==============================
# Web server
# ==============================

Django
south


# ==============================
# Meetings and events
# ==============================

#git+git://github.com/openplans/meetingmatters.git#egg=meetingmatters



# ==============================
# Authentication
# ==============================

django-social-auth



# ==============================
# APIs
# ==============================

djangorestframework



# ==============================
# Templating
# ==============================

django-jstemplate



# ==============================
# Testing / QA
# ==============================

nose