# ==============================
# Web server
# ==============================

Django



# ==============================
# Database and Persistance
# ==============================

psycopg2
south
django-reversion
django-redis



# ==============================
# Task Queing and Management
# ==============================

celery
django-celery



# ==============================
# Meetings and events
# ==============================
#
#git+git://github.com/openplans/meetingmatters.git#egg=meetingmatters
times
moment



# ==============================
# Web Data Wrappers
# ==============================

feedparser  # RSS / ATOM
icalendar  # iCal
twitter
facebook-sdk
django-proxy>=1.0.2  # For accessing Philly's GIS services over HTTPS



# ==============================
# Authentication
# ==============================

django-social-auth



# ==============================
# APIs
# ==============================

djangorestframework>=2.3.6



# ==============================
# Routes and Templating
# ==============================

django-jstemplate>=1.3.2
django-shorturls

# ==============================
# Geocoding
# ==============================
geopy==0.95.1


# ==============================
# Testing / QA
# ==============================

mock
nose
django-nose
django-debug-toolbar==0.11.0