{% load jstemplate %}
{% load as_json from utils %}

<!DOCTYPE html>
<!--[if lt IE 7 ]> <html dir="ltr" lang="en-US" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html dir="ltr" lang="en-US" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html dir="ltr" lang="en-US" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html dir="ltr" lang="en-US" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html dir="ltr" lang="en-US"> <!--<![endif]-->

<head>
  <title>myPhillyRising</title>

  <meta charset="utf-8">
  <meta name="description" content="myPhillyRising">
  <meta name="author" content="OpenPlans">

  <!--  Mobile Viewport Fix -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <!-- Favicon & Progressively-Enhanced Touch Icons: http://mathiasbynens.be/notes/touch-icons#sizes -->
  <link rel="shortcut icon" href="{{ STATIC_URL }}myphillyrising/images/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}myphillyrising/images/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}myphillyrising/images/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}myphillyrising/images/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}myphillyrising/images/apple-touch-icon-precomposed.png">

  <!-- Google Web Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>

  {% if debug %}
  <link rel="stylesheet" href="{{ STATIC_URL }}components/normalize-css/normalize.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{ STATIC_URL }}myphillyrising/css/styles.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{ STATIC_URL }}components/leaflet/dist/leaflet.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{ STATIC_URL }}myphillyrising/css/styles.css" type="text/css" media="screen, projection" />

  <script src="{{ STATIC_URL }}components/modernizr/modernizr.js"></script>
  {% else %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/components.min.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.min.css" type="text/css" media="screen, projection" />
  <script src="{{ STATIC_URL }}js/modernizr.min.js"></script>
  {% endif %}

  <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ STATIC_URL }}components/leaflet/dist/leaflet.ie.css" />
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
</head>
<body>
  {% handlebarsjs '(.*)' %}

  <div class="page main">
    <div class="container">

      <div id="header-region" class="site-header"></div>
      <div id="main-region"></div>

    </div>
  </div>

  <div class="page off-canvas-menu off-canvas-menu-left">
    <div class="container">

      <div id="neighborhood-menu-region"></div>

    </div>
  </div>

  <div class="page off-canvas-menu off-canvas-menu-right">
    <div class="container">

      <div id="user-menu-region"></div>

    </div>
  </div>

  <script>
  var {{NS}} = {{NS}} || {};
  {{NS}}.bootstrapped = {
    neighborhoodData : {{ neighborhood_data|as_json }},
    currentUserData : {{ current_user_data|as_json }},
    baseUrl : "{% url 'app' %}",
    staticUrl : "{{ STATIC_URL }}"
  };
  {{NS}}.staticURL = '{{ STATIC_URL|safe }}';
  </script>

  {% if debug %}
  <script src="{{ STATIC_URL }}components/jquery/jquery.js"></script>
  <script src="{{ STATIC_URL }}components/underscore/underscore-min.js"></script>
  <script src="{{ STATIC_URL }}components/backbone/backbone.js"></script>
  <script src="{{ STATIC_URL }}components/backbone.marionette/lib/backbone.marionette.js"></script>
  <script src="{{ STATIC_URL }}components/handlebars.js/dist/handlebars.js"></script>
  <script src="{{ STATIC_URL }}components/moment/moment.js"></script>
  <script src="{{ STATIC_URL }}components/leaflet/dist/leaflet.js"></script>
  <script src="{{ STATIC_URL }}components/leaflet-vector-layers/dist/lvector.js"></script>

  {% handlebarsjs '(.*)' precompile register_partials %}

  <script src="{{ STATIC_URL }}myphillyrising/js/handlebars-helpers.js"></script>
  <script src="{{ STATIC_URL }}myphillyrising/js/config.js"></script>
  <script src="{{ STATIC_URL }}alexander/js/utils.js"></script>
  <script src="{{ STATIC_URL }}alexander/js/models.js"></script>
  <script src="{{ STATIC_URL }}myphillyrising/js/models.js"></script>
  <script src="{{ STATIC_URL }}myphillyrising/js/views.js"></script>
  <script src="{{ STATIC_URL }}myphillyrising/js/app.js"></script>

  {% else %}
  <script src="{{ STATIC_URL }}js/components.min.js"></script>

  {% handlebarsjs '(.*)' precompile register_partials %}

  <script src="{{ STATIC_URL }}js/app.min.js"></script>
  {% endif %}

</body>
</html>