{% extends 'myphillyrising/base.html' %}
{% load jstemplate %}
{% load as_json from utils %}

{% block content %}
  {% handlebarsjs '(.*)' %}

  <div class="site-wrapper">

    <div class="page main">
      <div class="container">

        <div id="header-region" class="site-header"></div>
        <div id="main-region"></div>

      </div>
    </div>

    <div class="page off-canvas-menu off-canvas-menu-left">
      <div class="container">

        <div id="neighborhood-menu-region"></div>

      </div>
    </div>

    <div class="page off-canvas-menu off-canvas-menu-right">
      <div class="container">

        <div id="user-menu-region"></div>

      </div>
    </div>

  </div>

  <div id="notification-region" class="is-closed"></div>

  <script>
  var {{NS}} = {{NS}} || {};
  {{NS}}.bootstrapped = {
    neighborhoodData : {{ neighborhood_data|as_json }},
    currentUserData : {{ current_user_data|as_json }},
    baseUrl : "{% url 'app' %}",
    staticUrl : "{{ STATIC_URL }}"
  };
  {{NS}}.staticURL = '{{ STATIC_URL|safe }}';
  {{NS}}.twitterConf = {{ twitter_config|safe }};
  </script>

  {% if debug %}
  <script src="{{ STATIC_URL }}components/jquery/jquery.js"></script>
  <script src="{{ STATIC_URL }}components/underscore/underscore-min.js"></script>
  <script src="{{ STATIC_URL }}components/backbone/backbone.js"></script>
  <script src="{{ STATIC_URL }}components/backbone.marionette/lib/backbone.marionette.js"></script>
  <script src="{{ STATIC_URL }}components/backbone-relational/backbone-relational.js"></script>
  <script src="{{ STATIC_URL }}components/handlebars.js/dist/handlebars.js"></script>
  <script src="{{ STATIC_URL }}components/moment/moment.js"></script>
  <script src="{{ STATIC_URL }}components/leaflet/dist/leaflet.js"></script>
  <script src="{{ STATIC_URL }}components/leaflet-vector-layers/dist/lvector.js"></script>

  {% handlebarsjs '(.*)' precompile register_partials %}

  <script src="{{ STATIC_URL }}myphillyrising/js/utils.js"></script>
  <script src="{{ STATIC_URL }}myphillyrising/js/handlebars-helpers.js"></script>
  <script src="{{ STATIC_URL }}myphillyrising/js/config.js"></script>
  <script src="{{ STATIC_URL }}alexander/js/django-csrf.js"></script>
  <script src="{{ STATIC_URL }}alexander/js/utils.js"></script>
  <script src="{{ STATIC_URL }}alexander/js/models.js"></script>
  <script src="{{ STATIC_URL }}myphillyrising/js/utils.js"></script>
  <script src="{{ STATIC_URL }}myphillyrising/js/models.js"></script>
  <script src="{{ STATIC_URL }}myphillyrising/js/views.js"></script>
  <script src="{{ STATIC_URL }}myphillyrising/js/app.js"></script>

  {% else %}
  <script src="{{ STATIC_URL }}js/components.min.js"></script>

  {% handlebarsjs '(.*)' precompile register_partials %}

  <script src="{{ STATIC_URL }}js/app.min.js"></script>
  {% endif %}

  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">
    stLight.options({
      publisher: "2263fc18-d874-47ea-9fa1-a52c9ec0e6d9",
      doNotHash: false,
      doNotCopy: false,
      hashAddressBar: false
    });
  </script>
{% endblock content %}
