
/* =Base Styles
-------------------------------------------------------------- */

/* Typography */
body { line-height: 1.5; }
body, select, input, textarea {
  font-family: 'Open Sans', serif;
  color: #666;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0 0 0.25em 0;
}
h1 { font-size: 2em; }
h2 { font-size: 1.75em; }
h3 { 
  font-size: 1em; 
  font-weight: 400;
  text-transform: uppercase;
}
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; text-transform: uppercase; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #268099; }
a:hover { color: #48a5bf; }
p { margin: 0 0 1.2em; }
ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }
ul, ol, dl { margin-bottom: 0.6em; }
ul li, ol li { padding-bottom: 0.6em; }
ul.unstyled-list, ol.unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.unstyled-list li, ol.unstyled-list li {
  padding-bottom: 0;
}
strong {
  font-weight: 800;
}
hr {
  margin: 1.5em 0;
  border: 0;
  border: 1px solid #eeeeee;
  border-top-color: rgba(0,0,0,0.2);
  border-bottom-color: rgba(255,255,255,0.75);
  border-right: 0;
  border-left: 0;
}
.container hr {
  margin-right: -10px;
  margin-left: -10px;
}
.capitalize { text-transform: capitalize; }

/* Images */
img {
  max-width: 100%;
  height: auto;
}
.icon-inline {
  height: 1.5em;
  width: auto;
  margin: 0 0.25em -0.325em 0.5em;
}
.icon-muted {
  opacity: 0.75;
}

/* Buttons */
.btn,
.btn:visited,
.btn:link {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0.325em 0.5em 0.125em;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #268099;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #a1cbcf;
  box-shadow: 0 0 0.325em rgba(0,0,0,0.25);
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  border: 3px solid #7ec4d8;
  border-radius: 3px;
}
.btn-primary,
.btn-primary:visited,
.btn-primary:link {
  background-color: #268099;
  border-color: #48a5bf;
  color: #fff;
}
.btn-secondary,
.btn-secondary:visited,
.btn-secondary:link {
  background-color: #48a5bf;
  border-color: #7ec4d8;
  color: #e7e7d7;
}
.btn-cancel,
.btn-cancel:visited,
.btn-cancel:link {
  background-color: #e7e7d7;
  border-color: #d5d5c6;
  color: #ef037d;
}
.btn:disabled {
  background-color: #b2b2a6;
  border-color: #d5d5c6;
  color: #d5d5c6;
}
.btn-block,
.btn-block:visited,
.btn-block:link {
  clear: both;
  display: block;
  margin: 0 0 1.2em;
  padding-top: 0.75em;
  padding-bottom: 0.5em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
  width: 100%;
}
.btn-large {
  font-size: 1.25em;
  padding: 0.75em 1em 0.5em;
}
.btn-small {
  font-size: 0.85em;
}

/* Forms */
form {
}
label {
}
.input-block,
textarea {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
  width: 100%;
  border: 0.25em solid #a1cbcf;
  padding: 0.5em;
  outline: 0;
}
.input-block:focus,
textarea:focus {
  outline: 2px solid #268099;
}
textarea {
  height: 6.5em;
  resize: none;
}

/* Avatars */
a.user-link {
  float: left;
  margin-right: 10px;
}
.avatar {
  display: block;
  width: 50px;
  height: 50px;
}


/* =Nonsemantic Base Styles
-------------------------------------------------------------- */

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Hide for both screenreaders and browsers */
.is-hidden { display: none; visibility: hidden; }
/* Hide only visually, but have it available for screenreaders */
.is-screen-reader-text,
.is-visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* Hide visually and from screenreaders, but maintain layout */
.is-invisible { visibility: hidden; }

.nobreak { white-space: nowrap; }


/* =Layout
-------------------------------------------------------------- */

html { height: 100%; }
body {
  height: 100%;
  background-color: #fff;
  text-align: left;
  overflow: hidden;
}

.page {
  height: 100%;
  overflow: auto;
  -webkit-transform: translate3d(0,0,0);
     -moz-transform: translate3d(0,0,0);
      -ms-transform: translate3d(0,0,0);
       -o-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
  -webkit-transition: all .3s ease-out;
     -moz-transition: all .3s ease-out;
      -ms-transition: all .3s ease-out;
       -o-transition: all .3s ease-out;
          transition: all .3s ease-out;
}
.is-open-off-canvas-left .page {
  -webkit-transform: translate3d(80%,0,0);
     -moz-transform: translate3d(80%,0,0);
      -ms-transform: translate3d(80%,0,0);
       -o-transform: translate3d(80%,0,0);
          transform: translate3d(80%,0,0);
}
.is-open-off-canvas-right .page {
  -webkit-transform: translate3d(-80%,0,0);
     -moz-transform: translate3d(-80%,0,0);
      -ms-transform: translate3d(-80%,0,0);
       -o-transform: translate3d(-80%,0,0);
          transform: translate3d(-80%,0,0);
}
.main {
  width: 100%;
  background-color: #ebeff3;
  position: relative;
  z-index: 100;
  box-shadow: 0 0 20px rgba(51,60,71,1);
}

.off-canvas-menu {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 50;
  background-color: #546070;
  color: #ebeff3;
}
.off-canvas-menu-left { right: 100%; }
.off-canvas-menu-right { left: 100%; }
.off-canvas-menu-left .container { margin-left: 20%; }
.off-canvas-menu-right .container { margin-right: 20%; }

.is-open-off-canvas-right .btn-canvas-center,
.is-open-off-canvas-left .btn-canvas-center { 
  display: block; 
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  visibility: visible;
}

.container {
  padding: 10px;
}


/* =Header
-------------------------------------------------------------- */

.site-header {
  margin: -10px -10px 10px;  
  overflow: hidden;
  text-align: center;
}
.site-title {
  background-color: #546070;
  box-shadow: 0 0 5px rgba(0,0,0,0.25);
  margin: 0;
  font-size: 1em;
  line-height: 40px;
  height: 35px;
  font-weight: 400;
  position: relative;
  z-index: 2;
}
.site-title a {
  color: #caf445;
  text-decoration: none;
  font-style: italic;
}
.site-title a span.my { 
  color: #fff; 
  font-style: normal; 
  font-weight: 700;
}
.site-title a span.philly { 
/*  color: #fc8769;*/
}
.site-title a span.rising {}
.site-description {
  background-color: #455161;
  color: #ffae99;
  margin: 0;
  font-size: 10px;
  font-weight: ;
  text-transform: uppercase;
  line-height: 22px;
  height: 21px;
  position: relative;
  z-index: 1;
}
.menu-btn {
  display: block;
  position: absolute;
  z-index: 3;
  top: 8px;
  background-color: #546070;
  border: 2px solid #455161;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.btn-off-canvas-menu-left {
  left: 8px;
}
.btn-off-canvas-menu-right {
  right: 8px;
}
.menu-icon {
  display: block;
  width: 36px;
  height: 36px;
}


/* =Off-Canvas Menus
-------------------------------------------------------------- */

.off-canvas-menu h1, 
.off-canvas-menu h2, 
.off-canvas-menu h3, 
.off-canvas-menu h4, 
.off-canvas-menu h5, 
.off-canvas-menu h6 {
  color: #d0d3d7;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
.off-canvas-menu-header {
  margin: 0 -10px 20px;
  padding: 5px 20px 10px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.1), inset 0 -1px 0 rgba(0,0,0,0.1);
}

.off-canvas-menu a, .off-canvas-menu a:active, .off-canvas-menu a:visited { color: #ebffa6; }
.off-canvas-menu a:hover { color: #caf445; }

/* Neighborhood Menu */
ul.neighborhood-list {
  margin: -20px -10px 20px;
}
.neighborhood-list a {
  display: block;
  text-decoration: none;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 10px 20px;
}
.neighborhood-list li:first-child a {
  border-top: 0;
}
a.is-current-neighborhood, a.is-current-neighborhood:active, a.is-current-neighborhood:visited {
  background-color: #455161;
  color: #caf445;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 0;
}

/* User Menu */


/* =Content
-------------------------------------------------------------- */

p { max-width: 37em; }


/* =Media Queries for Responsive Layout
-------------------------------------------------------------- */

@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}
