
/* =Base Styles
-------------------------------------------------------------- */

/* Color Palette (These aren't semantic. YOLO! ) */
.light-grey { color: #ebeff3; }
.grey { color: #d0d3d7; }
.light-slate { color: #8497b0; }
.slate { color: #546070; }
.dark-slate { color: #455161; }
.light-green { color: #ebffa6; }
.green { color: #caf445; }
.dark-green { color: #a6cc29; }
.lighter-tomato { color: #ffcdbf; }
.light-tomato { color: #ffae99; }
.tomato { color: #fc8769; }
.dark-tomato { color: #bf6750; }

/* Typography */
body { line-height: 1.25; }
body, select, input, textarea {
  color: #666;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
h1,h2,h3,h4,h5,h6 { margin: 0 0 0.5em 0; }
h1 { font-size: 1.5em; }
h2 { font-size: 1.5em; }
h3 {
  font-size: 1.25em;
  margin: 0;
  font-weight: 400;
}
h4 { font-size: 1em; }
h5 { font-size: 1em; }
h6 { font-size: 1em; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #1E9D94; }
a:hover { color: #4ECDC4; }
p { margin: 0 0 1.25em; }
p:last-child { margin-bottom: 0; }
ul, ol { margin-left: 1.875em; }
ol { list-style-type: decimal; }
ul, ol, dl { margin-bottom: 0.625em; }
ul li, ol li { padding-bottom: 0.625em; }
ul.unstyled-list, ol.unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.unstyled-list li, ol.unstyled-list li {
  padding-bottom: 0;
}
strong {
  font-weight: 700;
}
hr {
  margin: 1.2em 0; border: 0;
  border: 1px solid #eeeeee;
  border-top-color: rgba(0,0,0,0.2);
  border-bottom-color: rgba(255,255,255,0.75);
  border-right: 0;
  border-left: 0;
}
.container hr {
  margin-right: -10px;
  margin-left: -10px;
}
.off-canvas-menu hr {
  border: 1px solid #455161;
  border-top-color: rgba(0,0,0,0.1);
  border-bottom-color: rgba(255,255,255,0.1);
}

.capitalize { text-transform: capitalize; }

/* Images */
img {
  max-width: 100%;
  height: auto;
}
.icon-inline {
  height: 1.5em;
  width: auto;
  margin: 0 0.25em -0.325em 0.5em;
}
.icon-muted {
  opacity: 0.75;
}
.full-width-image {
  display: block;
  width: 100%;
  height: auto;
}
.half-width-image {
  display: block;
  width: 50%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

/* Buttons */
.btn,
.btn:visited,
.btn:link {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0.25em 0.5em;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #455161;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  background-color: #d0d3d7;
  border: 2px solid #ebeff3;
  border-radius: 3px;
  box-shadow: 0 0.25em 0.5em rgba(0,0,0,0.2);
}
.btn:hover,
.btn:focus,
.btn:active {
  color: #546070;
}
.btn-primary,
.btn-primary:visited,
.btn-primary:link {
  background-color: #a6cc29;
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  border-color: #fff;
  color: #546070 !important;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
}
.btn-block,
.btn-block:visited,
.btn-block:link {
  clear: both;
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
  width: 100%;
}
.btn-large {
  font-size: 1.25em;
  padding: 0.75em 1em 0.5em;
}
.btn-small {
  font-size: 0.8em;
}

/* Forms */
form {}
label {
  color: #d0d3d7;
}
.input-block,
textarea {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
  width: 100%;
  border: 0.25em solid #d0d3d7;
  padding: 0.5em;
  outline: 0;
  margin-bottom: 0.5em;
}
.input-block:focus,
textarea:focus {
  outline: 2px solid #268099;
}
textarea {
  height: 6.5em;
  resize: none;
}

/* Avatars */
.avatar {
  display: block;
  width: 50px;
  height: 50px;
}


/* =Nonsemantic Base Styles
-------------------------------------------------------------- */

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Hide for both screenreaders and browsers */
.is-hidden { display: none; visibility: hidden; }
/* Hide only visually, but have it available for screenreaders */
.is-screen-reader-text,
.is-visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* Hide visually and from screenreaders, but maintain layout */
.is-invisible { visibility: hidden; }

.nobreak { white-space: nowrap; }
.block-link { display: block; }



/* =Layout
-------------------------------------------------------------- */

html {}
body {
  background-color: #546070;
}

.site-wrapper {
  overflow: hidden;
  position: relative;
}

.page {
  float: left;
  margin-right: -100%;
  -webkit-transform: translate3d(0,0,0);
     -moz-transform: translate3d(0,0,0);
      -ms-transform: translate3d(0,0,0);
       -o-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
  -webkit-transition: -webkit-transform 0.3s ease-out, margin 0s 0.3s;
     -moz-transition: -moz-transform 0.3s ease-out, margin 0s 0.3s;
      -ms-transition: -ms-transform 0.3s ease-out, margin 0s 0.3s;
       -o-transition: -o-transform 0.3s ease-out, margin 0s 0.3s;
          transition: transform 0.3s ease-out, margin 0s 0.3s;
}
.is-open-off-canvas-left .page {
  -webkit-transform: translate3d(88%,0,0);
     -moz-transform: translate3d(88%,0,0);
      -ms-transform: translate3d(88%,0,0);
       -o-transform: translate3d(88%,0,0);
          transform: translate3d(88%,0,0);
}
.is-open-off-canvas-right .page {
  -webkit-transform: translate3d(-88%,0,0);
     -moz-transform: translate3d(-88%,0,0);
      -ms-transform: translate3d(-88%,0,0);
       -o-transform: translate3d(-88%,0,0);
          transform: translate3d(-88%,0,0);
}
.main {
  width: 100%;
  background-color: #ebeff3;
  position: relative;
  z-index: 100;
  box-shadow: 0 0 20px rgba(51,60,71,1);
}

.off-canvas-menu {
  width: 100%;
  position: relative;
  z-index: 50;
  background-color: #546070;
  color: #ebeff3;
  margin-top: -9999px;
}
.off-canvas-menu-left {
  right: 100%;
}
.off-canvas-menu-right {
  left: 100%;
}
.is-open-off-canvas-right .off-canvas-menu-right,
.is-open-off-canvas-left .off-canvas-menu-left {
  margin-top: 0;
  -webkit-transition: -webkit-transform 0.3s ease-out;
     -moz-transition: -moz-transform 0.3s ease-out;
      -ms-transition: -ms-transform 0.3s ease-out;
       -o-transition: -o-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}
.off-canvas-menu-left .container { margin-left: 12%; }
.off-canvas-menu-right .container { margin-right: 12%; }

.is-open-off-canvas-right .btn-canvas-center,
.is-open-off-canvas-left .btn-canvas-center {
  display: block;
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  visibility: visible;
}

.page.choose {
  width: 100%;
  background-color: #546070;
  color: #ebeff3;
}

.container {
  padding: 10px;
}


/* =Header
-------------------------------------------------------------- */

.site-header {
  margin: -10px -10px 10px;
  overflow: hidden;
  text-align: center;
}
.site-title {
  background-color: #546070;
  box-shadow: 0 0 5px rgba(0,0,0,0.25);
  margin: 0;
  font-size: 1em;
  line-height: 40px;
  height: 35px;
  font-weight: 400;
  position: relative;
  z-index: 2;
}
.site-title a {
  color: #caf445;
  text-decoration: none;
  font-style: italic;
}
.site-title a span.my {
  color: #fff;
  font-style: normal;
  font-weight: 700;
}
.site-title a span.philly {
/*  color: #fc8769;*/
}
.site-title a span.rising {}
.site-description {
  background-color: #455161;
  color: #ffae99;
  margin: 0;
  font-size: 10px;
  font-weight: ;
  text-transform: uppercase;
  line-height: 22px;
  height: 21px;
  position: relative;
  z-index: 1;
}
a.login-btn {
  color: #ebffa6;
  display: block;
  position: absolute;
  z-index: 3;
  top: 10px;
  right: 0;
  padding: 0.2em 10px;
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.menu-btn {
  display: block;
  position: absolute;
  z-index: 3;
  top: 8px;
  background-color: #546070;
  border: 2px solid #455161;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.btn-off-canvas-menu-left {
  left: 8px;
}
.btn-off-canvas-menu-right {
  right: 8px;
}
.menu-icon {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 6px;
}


/* =Off-Canvas Menu Content
-------------------------------------------------------------- */

.off-canvas-menu h1,
.off-canvas-menu h2,
.off-canvas-menu h3,
.off-canvas-menu h4,
.off-canvas-menu h5,
.off-canvas-menu h6 {
  color: #d0d3d7;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
.off-canvas-menu-header {
  margin: 0 -10px 20px;
  padding: 5px 20px 10px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.1), inset 0 -1px 0 rgba(0,0,0,0.1);
  color: #d0d3d7;
}

.off-canvas-menu a, .off-canvas-menu a:link, .off-canvas-menu a:visited { color: #ebffa6; }
.off-canvas-menu a:hover { color: #caf445; }

/* Neighborhood Menu */
ul.neighborhood-list {
  margin: -20px -10px 20px;
}
.neighborhood-list a,
.neighborhood-list button {
  display: block;
  text-decoration: none;
  border: none;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 10px 20px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  margin: 0px;
  background: none;
  text-align: left;
  color: #ebffa6;
  font-size: 1em;
  line-height: 1.25;
}
.neighborhood-list li:first-child a,
.neighborhood-list li:first-child button {
  border-top: 0;
}
a.is-current-neighborhood, a.is-current-neighborhood:active, a.is-current-neighborhood:visited {
  background-color: #455161;
  color: #caf445;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 0;
}

ul.neighborhood-list-inline {
  padding: 0.25em 0;
  margin: 0 -0.25em 0.5em;
/*  text-align: center;*/
}
.neighborhood-list-inline li {
  display: inline;
}
.neighborhood-list-inline a,
.neighborhood-list-inline a:visited,
.neighborhood-list-inline a:link {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: auto;
  padding: 0.25em 0.5em;
  margin: 0 0.25em 0.5em;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #455161;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  background-color: #d0d3d7;
  border: 2px solid #ebeff3;
  border-radius: 3px;
  box-shadow: 0 0.25em 0.5em rgba(0,0,0,0.2);
}
.neighborhood-list-inline a:hover,
.neighborhood-list-inline a:focus,
.neighborhood-list-inline a:active {
  color: #546070;
}

/* User Menu */
ul.login-options {
  margin: 10px;
}
ul.login-options li {
  width: 50%;
  float: left;
}
ul.login-options .login-link {
  color: #fff;
  display: block;
  text-align: center;
  padding: 15px 0 10px 0;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
ul.login-options .twitter-login-link {
  border-radius: 3px 0 0 3px;
  border-right: 1px solid #ebeff3;
  background-color: #4099FF;
}
ul.login-options .facebook-login-link {
  border-radius: 0 3px 3px 0;
  border-left: 1px solid #ebeff3;
  background-color: #3b5998;
}
.login-link .icon-inline {
  display: block;
  margin: 0 auto 5px;
}

a.logout-link,
a.logout-link:link,
a.logout-link:visited {
  float: right;
  color: #ffae99;
  font-weight: 100;
  font-size: 0.75em;
  padding: 0.325em;
  text-decoration: none;
}
.user-profile {
  padding: 0 10px 20px;
}

.philly311-login {
  margin: 0 10px;
}


/* =Main Content
-------------------------------------------------------------- */

.site-introduction {
  text-align: center;
}
.site-introduction h1,
.site-introduction h2,
.site-introduction h3,
.site-introduction h3,
.site-introduction h4,
.site-introduction h5,
.site-introduction h6 {
  margin-bottom: 0.5em;
}

.site-mission {
  font-size: 1.5em;
  font-weight: 100;
}

.contact-prompt {
  margin-bottom: 10px;
}

.neighborhood-header {
  background: #455161;
  margin: -10px -10px 0 -10px;
  padding: 10px;
}
.neighborhood-title {
  font-size: 1.2em;
  color: #fff;
  float: left;
  width: 80%;
  margin: 0;
  padding: 0.25em 0;
}
.neighborhood-score {
  color: #caf445;
  float: right;
  width: 20%;
  margin: 0 -10px 0 0;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.neighborhood-score small {
  color: #ebffa6;
  display: block;
  text-transform: uppercase;
  font-size: xx-small;
}

.neighborhood-subheader {
  background: #455161;
  margin: -10px -10px 0 -10px;
  padding: 10px 10px 15px;
  font-size: 0.8em;
  color: #caf445;
}

.neighborhood-content {
  background: #455161;
  margin: 0 -10px;
  padding: 0 0 10px 0;
  font-size: 0.8em;
}

.column-40-right { width: 40%; float: right; }
.column-60-left { width: 60%; float: left; }

.neighbors-list .avatar {
  float: left;
  width: 20%;
  height: auto;
}
.column-40-right .avatar { width: 50%; }
.column-60-left .avatar { width: 33.333333%; }

.neighborhood-widget {
  margin: 0;
  padding: 0;
  clear: both;
  background-color: #ebeff3;
}

.neighborhood-widget-header {
  padding: 5px 5px 0;
  margin: 0;
}
.neighborhood-widget-header a {
  display: block;
  background-color: #caf445;
  padding: 5px 2em 5px 5px;
  color: #546070;
  font-size: 0.8em;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}
.neighborhood-widget-header .arrows {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 1.75em;
  line-height: 1;
  width: 1em;
}

.neighborhood-widget .block-link {
  margin-bottom: 10px;
  text-decoration: none;
}

.users-widget {}

.resources-widget {}

.stories-widget {}

.events-widget {}
.events-widget .date {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 100;
  display: block;
  margin: -0.25em 0 0 0;
  color: #bf6750;
}
.events-widget .day {
  font-weight: 700;
  color: #fc8769;
}
.events-widget .time {
  font-weight: 400;
  display: block;
  margin-top: 0;
  margin-left: 0;
  text-indent: 0;
  color: #546070;
}
.events-widget .item-title {
  color: #546070;
}

.about-widget {
  color: #d0d3d7;
  background: #455161;
  padding: 10px 10px 20px;
}

/* Items */
.item-header {
  margin: 0 0 10px;
}
.item-header a { text-decoration: none; }
.item-title { font-weight: 700; }
.item-meta {
  font-size: 0.8em;
  color: #888;
}
.item-meta a {
  color: #888;
}
.item-meta a:hover {
  color: #555;
}
.item-content {
  line-height: 1.5;
  clear: both;
}

/* Feed Items */
.feed-item {
  position: relative;
  background: #fff;
  padding: 10px;
  margin: 0 0 0.5em;
  box-shadow: 0 0 0.2em rgba(0,0,0,0.2);
  border-radius: 3px;
  overflow: hidden;
}
.feed-item-header {}
.feed-item-title {}
.feed-item-content {
  font-size: 0.8em;
}

/* Close Button */
a.close-btn {
  float: right;
  font-weight: bold;
  text-decoration: none;
  height: 2em;
  width: 2em;
  text-align: center;
  color: #FF6B6B;
  position: relative;
  z-index: 2;
}
a.close-btn:hover {
  color: #C44D58;
}
.close-icon {
  font-size: 1.5em;
  line-height: 1.2;
}
.detail-close-btn {
  margin: -10px -10px 0 0;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease 0.2s;
     -moz-transition: opacity 0.3s ease 0.2s;
      -ms-transition: opacity 0.3s ease 0.2s;
          transition: opacity 0.3s ease 0.2s;
}
.is-open-off-canvas-left .detail-close-btn,
.is-open-off-canvas-right .detail-close-btn {
  opacity: 0;
}

/* Detail Items */
.detail-item {
  position: relative;
  background: #fff;
  margin: -10px -10px 0;
  padding: 20px 20px 40px;
  overflow: hidden;
}
.detail-header {}
.detail-meta {}
.detail-content {
  margin-bottom: 1.25em;
}
.detail-item hr {
  margin-right: -20px;
  margin-left: -20px;
}
.share-this-prompt {
  font-size: 1.5em;
  font-weight: 100;
  float: left;
  margin-right: 6px;
}

/* Events */
.event-item {}
.event-item-header {
  position: relative;
  padding-left: 4em;
  min-height: 5em;
}
.date { margin-bottom: 0; }
.calendar-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 4.25em;
  background: #fff;
  box-shadow: 0 0.1em 0.2em rgba(0,0,0,0.2);
  border-radius: 0.2em;
  padding: 1.5em 0 0.5em;
  text-align: center;
}
.calendar-icon .day {
  display: block;
  font-size: 2.25em;
  font-weight: bold;
  color: #556270;
}
.calendar-icon .month {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: #FF6B6B;
  border-radius: 0.2em 0.2em 0 0;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.5;
}
.time,
.location {
  display: block;
  font-weight: bold;
  margin-top: 0.5em;
  margin-left: 1.25em;
  text-indent: -1.75em;
}

/* Map */
.map-container {
  margin: -10px -10px 10px;
  padding: 0;
  background: #bbb;
}
#map {
  margin: 0;
  padding: 0;
  height: 200px;
}
.map-list-container {
}
.map-list {}
.map-list .map-list-item {
  padding: 10px 10px 10px 2.5em;
  cursor: pointer;
  overflow: hidden;
}
.map-item-header {}
.map-item-title {
  color: #1E9D94;
}
.map-item-meta {}
.map-list-icon {
  position: absolute;
  top: 10px;
  left: 5px;
  font-size: 1.75em;
  margin: 0;
  padding: 0;
  line-height: 1;
  opacity: 0.25;
}
.map-list-item.is-selected {
  color: #444;
  background-color: #ebffa6;
  box-shadow: inset 0 0 0.5em rgba(0,0,0,0.5);
  cursor: default;
}
.map-list-item.is-selected .map-item-title,
.map-list-item.is-selected .map-item-meta {
  color: #444;
}
.is-selected .map-list-icon {
  opacity: 1;
}
.map-list-item.is-selected .google-maps-link {
  position: relative !important;
  clip: auto;
  color: #308fbf !important;
  white-space: nowrap;
  font-weight: bold;
  text-decoration: none;
}


/* =Points Notifications
-------------------------------------------------------------- */

.notification {
  visibility: visible;
  position: fixed;
  z-index: 9999;
  top: 76px;
  right: 30px;
  bottom: auto;
  left: 30px;
  opacity: 1;
  background-color: #ebffa6;
  background-color: rgba(235, 255, 166, 0.9);
  border: 2px solid #ebffa6;
  border-top: 0;
  border-radius: 3px;
  padding: 5px;
  text-align: center;
  color: #546070;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  box-shadow: 0 0.125em 0.75em rgba(0,0,0,0.5);

  -webkit-transition: margin 0.5s ease, opacity 0.2s ease;
     -moz-transition: margin 0.5s ease, opacity 0.2s ease;
      -ms-transition: margin 0.5s ease, opacity 0.2s ease;
          transition: margin 0.5s ease, opacity 0.2s ease;
}
.notification.is-closed {
  visibility: hidden;
  margin-bottom: -3em;
  opacity: 0;
  -webkit-transition: margin 0.5s ease, opacity 0.8s ease, visibility 0 1s;
     -moz-transition: margin 0.5s ease, opacity 0.8s ease, visibility 0 1s;
      -ms-transition: margin 0.5s ease, opacity 0.8s ease, visibility 0 1s;
          transition: margin 0.5s ease, opacity 0.8s ease, visibility 0 1s;
}
.notification-points {
  margin: 0;
}
.notification-reason {
  font-size: 0.75em;
  text-transform: uppercase;
}


/* =Media Queries for Responsive Layout
-------------------------------------------------------------- */

@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 480px) {
  body {
    background-color: #455161;
  }
  .site-wrapper {
    width: 480px;
    margin: 0 auto;
    background-color: #546070;
    box-shadow: 0 0 40px rgba(51,60,71,1);
  }
}

@media only screen and (min-width: 768px) {
  html,
  body {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .site-wrapper {
    width: 70%;
    height: 100%;
    margin: 0 0 0 30%;
    overflow: visible;
  }
  .page {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .off-canvas-menu {
    margin-top: 0;
  }
  .off-canvas-menu-left .container { margin-left: 57%; }
  .off-canvas-menu-right .container { margin-right: 57%; }
  .btn-off-canvas-menu-left {
    display: none;
  }
  .is-open-off-canvas-right .page {
    -webkit-transform: translate3d(-43%,0,0);
       -moz-transform: translate3d(-43%,0,0);
        -ms-transform: translate3d(-43%,0,0);
         -o-transform: translate3d(-43%,0,0);
            transform: translate3d(-43%,0,0);
  }
  .is-open-off-canvas-left .detail-close-btn,
  .is-open-off-canvas-right .detail-close-btn {
    opacity: 1;
  }
  .site-header {
    position: relative;
    z-index: 500;
    background-color: #546070;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
  }
  .site-title {
    background-color: transparent;
    box-shadow: none;
    font-size: 1.5em;
    line-height: 2.5em;
    height: 2.5em;
    float: left;
    padding: 0 0.5em 0 1em;
  }
  .site-description {
    background-color: transparent;
    font-size: 1.5em;
    line-height: 2.5em;
    height: 2.5em;
    float: left;
  }
}

@media only screen and (min-width: 1024px) {
  .neighborhood-content {
    float: left;
    width: 50%;
    background: transparent;
    box-shadow: none;
    border: 0;
  }
  #disqus_thread {
    float: right;
    width: 50%;
    padding-top: 10px;
  }
}

@media only screen and (min-width: 1300px) {
}
