
/* =Base Styles
-------------------------------------------------------------- */

/* Color Palette (These aren't semantic; just here for reference. ) */
.light-grey { color: #ebeff3; }
.grey { color: #d0d3d7; }
.light-slate { color: #8497b0; }
.slate { color: #546070; }
.dark-slate { color: #455161; }
.light-green { color: #ebffa6; }
.green { color: #caf445; }
.dark-green { color: #a6cc29; }
.lighter-tomato { color: #ffcdbf; }
.light-tomato { color: #ffae99; }
.tomato { color: #fc8769; }
.dark-tomato { color: #bf6750; }

/* Typography */
body { line-height: 1.25; }
body, select, input, textarea {
  color: #666;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
h1,h2,h3,h4,h5,h6 { margin: 0 0 0.5em 0; }
h1 { font-size: 1.5em; }
h2 { font-size: 1.5em; }
h3 { 
  font-size: 1.25em;
  margin: 0;
  font-weight: 400;
}
h4 { font-size: 1em; }
h5 { font-size: 1em; }
h6 { font-size: 1em; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #1E9D94; }
a:hover { color: #4ECDC4; }
p { margin: 0 0 1.25em; }
p:last-child { margin-bottom: 0; }
ul, ol { margin-left: 1.875em; }
ol { list-style-type: decimal; }
ul, ol, dl { margin-bottom: 0.625em; }
ul li, ol li { padding-bottom: 0.625em; }
ul.unstyled-list, ol.unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.unstyled-list li, ol.unstyled-list li {
  padding-bottom: 0;
}
strong {
  font-weight: 700;
}
hr {
  margin: 1.2em 0; border: 0;
  border: 1px solid #eeeeee;
  border-top-color: rgba(0,0,0,0.2);
  border-bottom-color: rgba(255,255,255,0.75);
  border-right: 0;
  border-left: 0;
}
.container hr {
  margin-right: -10px;
  margin-left: -10px;
}
.capitalize { text-transform: capitalize; }

/* Images */
img {
  max-width: 100%;
  height: auto;
}
.icon-inline {
  height: 1.5em;
  width: auto;
  margin: 0 0.25em -0.325em 0.5em;
}
.icon-muted {
  opacity: 0.75;
}
.full-width-image {
  display: block;
  width: 100%;
  height: auto;
}

/* Buttons */
.btn,
.btn:visited,
.btn:link {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0.25em 0.5em;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #455161;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  background-color: #d0d3d7;
  border: 2px solid #ebeff3;
  border-radius: 3px;
  box-shadow: 0 0.25em 0.5em rgba(0,0,0,0.2);
}
.btn:hover,
.btn:focus,
.btn:active {
  color: #455161;
}
.btn-primary,
.btn-primary:visited,
.btn-primary:link {
  background-color: #308fbf;
  color: #fff !important;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
}
.btn-block,
.btn-block:visited,
.btn-block:link {
  clear: both;
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
  width: 100%;
}
.btn-large {
  font-size: 1.25em;
  padding: 0.75em 1em 0.5em;
}
.btn-small {
  font-size: 0.8em;
}

/* Forms */
form {}
label {}
.input-block,
textarea {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
  width: 100%;
  border: 0.25em solid #a1cbcf;
  padding: 0.5em;
  outline: 0;
}
.input-block:focus,
textarea:focus {
  outline: 2px solid #268099;
}
textarea {
  height: 6.5em;
  resize: none;
}

/* Avatars */
.avatar {
  display: block;
  width: 50px;
  height: 50px;
}


/* =Nonsemantic Base Styles
-------------------------------------------------------------- */

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Hide for both screenreaders and browsers */
.is-hidden { display: none; visibility: hidden; }
/* Hide only visually, but have it available for screenreaders */
.is-screen-reader-text,
.is-visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* Hide visually and from screenreaders, but maintain layout */
.is-invisible { visibility: hidden; }

.nobreak { white-space: nowrap; }
.block-link { display: block; }


/* =Layout
-------------------------------------------------------------- */

html { 
  width: 100%;
  height: 100%; 
}
body {
  width: 100%;
  height: 100%;
  text-align: left;
  overflow: hidden;
}

.site-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.page {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0,0,0);
     -moz-transform: translate3d(0,0,0);
      -ms-transform: translate3d(0,0,0);
       -o-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
  -webkit-transition: all .3s ease-out;
     -moz-transition: all .3s ease-out;
      -ms-transition: all .3s ease-out;
       -o-transition: all .3s ease-out;
          transition: all .3s ease-out;
}
.is-open-off-canvas-left .page {
  -webkit-transform: translate3d(80%,0,0);
     -moz-transform: translate3d(80%,0,0);
      -ms-transform: translate3d(80%,0,0);
       -o-transform: translate3d(80%,0,0);
          transform: translate3d(80%,0,0);
}
.is-open-off-canvas-right .page {
  -webkit-transform: translate3d(-80%,0,0);
     -moz-transform: translate3d(-80%,0,0);
      -ms-transform: translate3d(-80%,0,0);
       -o-transform: translate3d(-80%,0,0);
          transform: translate3d(-80%,0,0);
}
.main {
  width: 100%;
  background-color: #ebeff3;
  position: relative;
  z-index: 100;
  box-shadow: 0 0 20px rgba(51,60,71,1);
}

.off-canvas-menu {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 50;
  background-color: #546070;
  color: #ebeff3;
}
.off-canvas-menu-left { right: 100%; }
.off-canvas-menu-right { left: 100%; }
.off-canvas-menu-left .container { margin-left: 20%; }
.off-canvas-menu-right .container { margin-right: 20%; }

.is-open-off-canvas-right .btn-canvas-center,
.is-open-off-canvas-left .btn-canvas-center { 
  display: block; 
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  visibility: visible;
}
.is-open-off-canvas-right .main,
.is-open-off-canvas-left .main { 
  overflow: hidden;
}

.container {
  padding: 10px;
}


/* =Header
-------------------------------------------------------------- */

.site-header {
  margin: -10px -10px 10px;  
  overflow: hidden;
  text-align: center;
}
.site-title {
  background-color: #546070;
  box-shadow: 0 0 5px rgba(0,0,0,0.25);
  margin: 0;
  font-size: 1em;
  line-height: 40px;
  height: 35px;
  font-weight: 400;
  position: relative;
  z-index: 2;
}
.site-title a {
  color: #caf445;
  text-decoration: none;
  font-style: italic;
}
.site-title a span.my { 
  color: #fff; 
  font-style: normal; 
  font-weight: 700;
}
.site-title a span.philly { 
/*  color: #fc8769;*/
}
.site-title a span.rising {}
.site-description {
  background-color: #455161;
  color: #ffae99;
  margin: 0;
  font-size: 10px;
  font-weight: ;
  text-transform: uppercase;
  line-height: 22px;
  height: 21px;
  position: relative;
  z-index: 1;
}
.menu-btn {
  display: block;
  position: absolute;
  z-index: 3;
  top: 8px;
  background-color: #546070;
  border: 2px solid #455161;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.btn-off-canvas-menu-left {
  left: 8px;
}
.btn-off-canvas-menu-right {
  right: 8px;
}
.menu-icon {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 6px;
}


/* =Off-Canvas Menu Content 
-------------------------------------------------------------- */

.off-canvas-menu h1, 
.off-canvas-menu h2, 
.off-canvas-menu h3, 
.off-canvas-menu h4, 
.off-canvas-menu h5, 
.off-canvas-menu h6 {
  color: #d0d3d7;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
.off-canvas-menu-header {
  margin: 0 -10px 20px;
  padding: 5px 20px 10px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.1), inset 0 -1px 0 rgba(0,0,0,0.1);
}

.off-canvas-menu a, .off-canvas-menu a:active, .off-canvas-menu a:visited { color: #ebffa6; }
.off-canvas-menu a:hover { color: #caf445; }

/* Neighborhood Menu */
ul.neighborhood-list {
  margin: -20px -10px 20px;
}
.neighborhood-list a {
  display: block;
  text-decoration: none;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 10px 20px;
}
.neighborhood-list li:first-child a {
  border-top: 0;
}
a.is-current-neighborhood, a.is-current-neighborhood:active, a.is-current-neighborhood:visited {
  background-color: #455161;
  color: #caf445;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 0;
}

/* User Menu */


/* =Main Content
-------------------------------------------------------------- */

.neighborhood-header {
  overflow: hidden;
  position: relative;
  z-index: 2;
  margin: -10px -10px 0;
  box-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.neighborhood-header .map-container {
  margin: 0;
}
.neighborhood-title {
  font-size: 1.2em;
/*  font-weight: 400;*/
  top: 0;
  right: -3em;
  bottom: 0;
  left: -3em;
  margin: 0;
  padding: 0 3em;
  position: absolute;
  box-shadow: inset 0 -1em 2em rgba(0,0,0,0.25);
  text-shadow: 0 0.25em 0.5em rgba(0,0,0,0.5), 0 0 0.25em rgba(0,0,0,0.25);
  color: #ebffa6;
}
.neighborhood-title .title-text {
  display: block;
  position: absolute;
  top: auto;
  right: 3em;
  bottom: 8px;
  left: 3em;
  line-height: 1.25;
  padding-left: 10px;
  margin-right: 20%;
}
.neighborhood-content {
  background: #455161;
  border-bottom: 1px solid #fff;
  box-shadow: inset 0 -0.75em 1.5em rgba(0,0,0,0.1);
  margin: 0 -10px 10px;
  padding: 0 0 10px 0;
  font-size: 0.8em;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.neighborhood-widget {
  margin: 0;
  padding: 0;
}
.neighborhood-widget .block-link {
  margin-bottom: 10px;
  text-decoration: none;
}
.users-widget .avatar {
  float: left;
  width: 20%;
  height: auto;
}
.events-widget {
  background: #fc8769;
  color: #fff;
  width: 40%;
}
.events-widget .date {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 100;
  display: block;
  margin: 0;
  text-shadow: ;
}
.events-widget .day { font-weight: 700; }
.events-widget .time { 
  font-weight: 400;
  display: block;
  margin-top: 0;
  margin-left: 0;
  text-indent: 0;
}
.resources-widget {
  background: #8497b0;
  color: #fff;
  width: 60%;
}
.stories-widget {
  background: #ebffa6;
  width: 60%;
}
.about-widget {
  background: #546070;
  color: #fff;
  width: 40%;
}
.resources-widget a,
.events-widget a,
.about-widget a { color: #fff; }

.item-header {
  margin: 0 0 10px;
}
.item-header a { text-decoration: none; }
.item-title { font-weight: 700; }
.item-meta {
  font-size: 0.8em;
  color: #888;
}
.item-meta a {
  color: #888;
}
.item-meta a:hover {
  color: #555;
}
.item-content {
  line-height: 1.5;
  clear: both;
}

/* Feed Items */
.feed-item {
  position: relative;
  background: #fff;
  padding: 10px;
  margin: 0 0 0.5em;
  box-shadow: 0 0 0.2em rgba(0,0,0,0.2);
  border-radius: 3px;
}
.feed-item-header {}
.feed-item-title {}
.feed-item-content {
  font-size: 0.8em;
}

/* Close Button */
a.close-btn {
  float: right;
  font-weight: bold;
  text-decoration: none;
  height: 2em;
  width: 2em;
  text-align: center;
  margin: -10px -10px 0 0;
  color: #FF6B6B;
  position: relative;
  z-index: 2;
}
a.close-btn:hover {
  color: #C44D58;
}
.close-icon {
  font-size: 1.5em;
  line-height: 1.2;
}

/* Detail Items */
.detail-item {
  position: relative;
  background: #fff;
  margin: -10px -10px 0;
  padding: 20px 20px 40px;
}
.detail-header {}
.detail-meta {}

/* Events */
.event-item {}
.event-item-header {
  position: relative;
  padding-left: 4em;
  min-height: 5em;
}
.date { margin-bottom: 0; }
.calendar-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 4.25em;
  background: #fff;
  box-shadow: 0 0.1em 0.2em rgba(0,0,0,0.2);
  border-radius: 0.2em;
  padding: 1.5em 0 0.5em;
  text-align: center;
}
.calendar-icon .day {
  display: block;
  font-size: 2.25em;
  font-weight: bold;
  color: #556270;
}
.calendar-icon .month {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: #FF6B6B;
  border-radius: 0.2em 0.2em 0 0;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.5;
}
.time,
.location {
  display: block;
  font-weight: bold;
  margin-top: 0.5em;
  margin-left: 1.25em;
  text-indent: -1.25em;
}

/* Map */
.map-container {
  margin: -10px -10px 10px;
  padding: 0;
  background: #bbb;
}
#map {
  margin: 0;
  padding: 0;
  height: 200px;
}
.map-list-container {
  position: absolute;
  top: 256px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;  
}
.map-list {}
.map-list .map-list-item {
  padding: 10px 10px 10px 2.5em;
  cursor: pointer;
  overflow: hidden;
}
.map-item-header {}
.map-item-title {
  color: #1E9D94;
}
.map-item-meta {}
.map-list-icon {
  position: absolute;
  top: 10px;
  left: 5px;
  font-size: 1.75em;
  margin: 0;
  padding: 0;
  line-height: 1;
  opacity: 0.25;
}
.map-list-item.is-selected {
  color: #444;
  background-color: #ebffa6;
  box-shadow: inset 0 0 0.5em rgba(0,0,0,0.5);
  cursor: default;
}
.map-list-item.is-selected .map-item-title,
.map-list-item.is-selected .map-item-meta {
  color: #444;
}
.is-selected .map-list-icon {
  opacity: 1;
}
.map-list-item.is-selected .google-maps-link {
  position: relative !important;
  clip: auto;
  color: #308fbf !important;
  white-space: nowrap;
  font-weight: bold;
  text-decoration: none;
}


/* =Media Queries for Responsive Layout
-------------------------------------------------------------- */

@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}
