
/* =Base Styles
-------------------------------------------------------------- */

/* Typography */
body { line-height: 1.25; }
body, select, input, textarea {
  color: #666;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
h1,h2,h3,h4,h5,h6 { margin: 0 0 0.5em 0; }
h1 { font-size: 2em; }
h2 { font-size: 2em; }
h3 { 
  font-size: 1em; 
  font-weight: 400;
  text-transform: uppercase;
}
h4 { font-size: 1em; }
h5 { font-size: 1em; }
h6 { font-size: 1em; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #1E9D94; }
a:hover { color: #4ECDC4; }
p { margin: 0 0 1.25em; }
p:last-child { margin-bottom: 0; }
ul, ol { margin-left: 1.875em; }
ol { list-style-type: decimal; }
ul, ol, dl { margin-bottom: 0.625em; }
ul li, ol li { padding-bottom: 0.625em; }
ul.unstyled-list, ol.unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.unstyled-list li, ol.unstyled-list li {
  padding-bottom: 0;
}
strong {
  font-weight: 800;
}
hr {
  margin: 1.2em 0; border: 0;
  border: 1px solid #eeeeee;
  border-top-color: rgba(0,0,0,0.2);
  border-bottom-color: rgba(255,255,255,0.75);
  border-right: 0;
  border-left: 0;
}
.container hr {
  margin-right: -10px;
  margin-left: -10px;
}
.capitalize { text-transform: capitalize; }

/* Images */
img {
  max-width: 100%;
  height: auto;
}
.icon-inline {
  height: 1.5em;
  width: auto;
  margin: 0 0.25em -0.325em 0.5em;
}
.icon-muted {
  opacity: 0.75;
}

/* Buttons */
a.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0.25em 0.5em;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  background-color: Gainsboro;
  border: 0.1em solid #fff;
  border-color: rgba(255,255,255,0.5) rgba(255,255,255,0.5) rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.1);
  border-radius: 0.25em;
  box-shadow: 0 0.1em 0.2em rgba(0,0,0,0.5), inset 0 1em 0 rgba(255,255,255,0.2);
}
.btn:hover,
.btn:focus,
.btn:active {
  color: #333;
  box-shadow: 0 0.1em 0.2em rgba(0,0,0,0.5), inset 0 1em 0 rgba(255,255,255,0.2), inset 0 2em 0 rgba(255,255,255,0.2);
}
a.btn-primary {
  background-color: #308fbf;
  color: White !important;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
}

/* Forms */
form {}
label {}
.input-block,
textarea {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
  width: 100%;
  border: 0.25em solid #a1cbcf;
  padding: 0.5em;
  outline: 0;
}
.input-block:focus,
textarea:focus {
  outline: 2px solid #268099;
}
textarea {
  height: 6.5em;
  resize: none;
}

/* Avatars */
.avatar {
  display: block;
  width: 50px;
  height: 50px;
}


/* =Nonsemantic Base Styles
-------------------------------------------------------------- */

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Hide for both screenreaders and browsers */
.is-hidden { display: none; visibility: hidden; }
/* Hide only visually, but have it available for screenreaders */
.is-screen-reader-text,
.is-visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* Hide visually and from screenreaders, but maintain layout */
.is-invisible { visibility: hidden; }

.nobreak { white-space: nowrap; }


/* =Layout
-------------------------------------------------------------- */

html { height: 100%; }
body {
  height: 100%;
  background-color: #fff;
  text-align: left;
  overflow: hidden;
}

.page {
  height: 100%;
  overflow: auto;
  -webkit-transform: translate3d(0,0,0);
     -moz-transform: translate3d(0,0,0);
      -ms-transform: translate3d(0,0,0);
       -o-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
  -webkit-transition: all .3s ease-out;
     -moz-transition: all .3s ease-out;
      -ms-transition: all .3s ease-out;
       -o-transition: all .3s ease-out;
          transition: all .3s ease-out;
}
.is-open-off-canvas-left .page {
  -webkit-transform: translate3d(80%,0,0);
     -moz-transform: translate3d(80%,0,0);
      -ms-transform: translate3d(80%,0,0);
       -o-transform: translate3d(80%,0,0);
          transform: translate3d(80%,0,0);
}
.is-open-off-canvas-right .page {
  -webkit-transform: translate3d(-80%,0,0);
     -moz-transform: translate3d(-80%,0,0);
      -ms-transform: translate3d(-80%,0,0);
       -o-transform: translate3d(-80%,0,0);
          transform: translate3d(-80%,0,0);
}
.main {
  width: 100%;
  background-color: #ebeff3;
  position: relative;
  z-index: 100;
  box-shadow: 0 0 20px rgba(51,60,71,1);
}

.off-canvas-menu {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 50;
  background-color: #546070;
  color: #ebeff3;
}
.off-canvas-menu-left { right: 100%; }
.off-canvas-menu-right { left: 100%; }
.off-canvas-menu-left .container { margin-left: 20%; }
.off-canvas-menu-right .container { margin-right: 20%; }

.is-open-off-canvas-right .btn-canvas-center,
.is-open-off-canvas-left .btn-canvas-center { 
  display: block; 
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  visibility: visible;
}

.container {
  padding: 10px;
}


/* =Header
-------------------------------------------------------------- */

.site-header {
  margin: -10px -10px 10px;  
  overflow: hidden;
  text-align: center;
}
.site-title {
  background-color: #546070;
  box-shadow: 0 0 5px rgba(0,0,0,0.25);
  margin: 0;
  font-size: 1em;
  line-height: 40px;
  height: 35px;
  font-weight: 400;
  position: relative;
  z-index: 2;
}
.site-title a {
  color: #caf445;
  text-decoration: none;
  font-style: italic;
}
.site-title a span.my { 
  color: #fff; 
  font-style: normal; 
  font-weight: 700;
}
.site-title a span.philly { 
/*  color: #fc8769;*/
}
.site-title a span.rising {}
.site-description {
  background-color: #455161;
  color: #ffae99;
  margin: 0;
  font-size: 10px;
  font-weight: ;
  text-transform: uppercase;
  line-height: 22px;
  height: 21px;
  position: relative;
  z-index: 1;
}
.menu-btn {
  display: block;
  position: absolute;
  z-index: 3;
  top: 8px;
  background-color: #546070;
  border: 2px solid #455161;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.btn-off-canvas-menu-left {
  left: 8px;
}
.btn-off-canvas-menu-right {
  right: 8px;
}
.menu-icon {
  display: block;
  width: 36px;
  height: 36px;
}


/* =Off-Canvas Menus
-------------------------------------------------------------- */

.off-canvas-menu h1, 
.off-canvas-menu h2, 
.off-canvas-menu h3, 
.off-canvas-menu h4, 
.off-canvas-menu h5, 
.off-canvas-menu h6 {
  color: #d0d3d7;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
.off-canvas-menu-header {
  margin: 0 -10px 20px;
  padding: 5px 20px 10px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.1), inset 0 -1px 0 rgba(0,0,0,0.1);
}

.off-canvas-menu a, .off-canvas-menu a:active, .off-canvas-menu a:visited { color: #ebffa6; }
.off-canvas-menu a:hover { color: #caf445; }

/* Neighborhood Menu */
ul.neighborhood-list {
  margin: -20px -10px 20px;
}
.neighborhood-list a {
  display: block;
  text-decoration: none;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 10px 20px;
}
.neighborhood-list li:first-child a {
  border-top: 0;
}
a.is-current-neighborhood, a.is-current-neighborhood:active, a.is-current-neighborhood:visited {
  background-color: #455161;
  color: #caf445;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 0;
}

/* User Menu */


/* =Content
-------------------------------------------------------------- */

.detail-item {
  position: relative;
  background: #fff;
  padding: 0.75em;  
}

/* Feed Items */
.feed-item {
  position: relative;
  line-height: 1.5;
  background: #fff;
  padding: 0.75em;
  margin: 0 0 0.5em;
  box-shadow: 0 0 0.2em rgba(0,0,0,0.2);
  border-radius: 0.2em;
}
.feed-item-header {
  line-height: 1.25;
}
.feed-item-header a {
  text-decoration: none;
}
.feed-item-title {
  font-size: 1.25em;
  line-height: 1.25;
  margin: 0;
}
.feed-item-meta {
  font-size: 0.8em;
  color: #888;
}
.feed-item-meta a {
  color: #888;
}
.feed-item-meta a:hover {
  color: #555;
}
.feed-item-content {
  margin: 0.75em 0 0;
  font-size: 0.8em;
}

/* Events */
.event-item {
  padding-left: 4.75em;
  min-height: 5.5em;
}
.date {
  margin-bottom: 0;
}
.calendar-icon {
  position: absolute;
  top: 1.25em;
  left: 1em;
  width: 4.25em;
  background: #fff;
  box-shadow: 0 0.1em 0.2em rgba(0,0,0,0.2);
  border-radius: 0.2em;
  padding: 1.5em 0 0.5em;
  text-align: center;
}
.detail-event-item .calendar-icon {
  top: 0.5em;
  left: 0.5em;
}
.calendar-icon .day {
  display: block;
  font-size: 2.25em;
  font-weight: bold;
  color: #556270;
}
.calendar-icon .month {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: #FF6B6B;
  border-radius: 0.2em 0.2em 0 0;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.5;
}
.time,
.location {
  display: block;
  font-weight: bold;
  margin-top: 0.5em;
  margin-left: 1.25em;
  text-indent: -1.25em;
}
.detail-event-item .time,
.detail-event-item .location {
  font-size: 1.25em;
}


/* =Media Queries for Responsive Layout
-------------------------------------------------------------- */

@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}
