{% load jstemplate %}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{% block title %}{% endblock %} | myPhillyRising Admin</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <link href="{{ STATIC_URL }}components/bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
      <link href="{{ STATIC_URL }}components/select2/select2.css" rel="stylesheet"/>
      <link href="{{ STATIC_URL }}alexander/css/styles.css" rel="stylesheet" type="text/css" media="screen, projection" />

      {% if debug %}
      <script src="{{ STATIC_URL }}components/modernizr/modernizr.js"></script>
      {% else %}
      <script src="{{ STATIC_URL }}alexander/js/modernizr.min.js"></script>
      {% endif %}

      {% block css %}{% endblock %}
  </head>
  <body>

  {% handlebarsjs '(.*)' %}

  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#">myPhillyRising Admin</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            {% block navitems %}{% endblock %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>


  {% block content %}{% endblock %}

  <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->

  <script>
    var MyPhillyRising = MyPhillyRising || {};
    MyPhillyRising.bootstrapped = {
      staticUrl: '{{ STATIC_URL }}'
    };

    var {{NS}} = {{NS}} || {};
    {{NS}}.defaultTags = [
      {% for tag in tags %}
        { id: '{{ tag.label }}', label: '{{ tag.label|title }}' }{% if not forloop.last %},{% endif %}
      {% endfor %}
    ];
  </script>

  {% if debug %}
  <script src="{{ STATIC_URL }}components/jquery/jquery.min.js"></script>
  <script src="{{ STATIC_URL }}components/bootstrap/docs/assets/js/bootstrap.js"></script>
  <script src="{{ STATIC_URL }}components/underscore/underscore-min.js"></script>
  <script src="{{ STATIC_URL }}components/backbone/backbone-min.js"></script>
  <script src="{{ STATIC_URL }}components/backbone.marionette/lib/backbone.marionette.js"></script>
  <script src="{{ STATIC_URL }}components/backbone-relational/backbone-relational.js"></script>
  <script src="{{ STATIC_URL }}components/handlebars.js/dist/handlebars.js"></script>
  <script src="{{ STATIC_URL }}components/moment/moment.js"></script>
  <script src="{{ STATIC_URL }}components/select2/select2.js"></script>
  <script src="{{ STATIC_URL }}alexander/js/django-csrf.js"></script>
  <script src="{{ STATIC_URL }}myphillyrising/js/utils.js"></script>
  <script src="{{ STATIC_URL }}alexander/js/utils.js"></script>
  <script src="{{ STATIC_URL }}myphillyrising/js/handlebars-helpers.js"></script>
  <script src="{{ STATIC_URL }}alexander/js/handlebars-helpers.js"></script>
  <script src="{{ STATIC_URL }}alexander/js/models.js"></script>
  <script src="{{ STATIC_URL }}alexander/js/admin-views.js"></script>

  {% else %}
  <script src="{{ STATIC_URL }}alexander/js/admin-components.min.js"></script>
  <script src="{{ STATIC_URL }}alexander/js/admin-app.min.js"></script>
  {% endif %}
  {% block javascripts %}{% endblock %}

  </body>
</html>
