{% extends 'alexander/base.html' %}

{% block title %}Feeds{% endblock title %}

{% block navitems %}
  <li><a href="/admin/items">Items</a></li>
  <li class="active"><a href="/admin/feeds">Feeds</a></li>
{% endblock navitems %}

{% block content %}
  <div class="container">
    <h1>Feeds</h1>
    <ul id="feeds-list" class="unstyled"></ul>

    <form id="feed-form" action="/api/feeds/" method="post" class="form-inline well">
      <select name="default_category" class="input-medium">
        <option>Resource</option>
        <option>Story</option>
        <option>Event</option>
      </select>
      <select name="source_type" class="input-medium">
        <option>RSS</option>
        <option>ICS</option>
        <option>Twitter</option>
        <option>Facebook</option>
      </select>

      <input name="title" type="text" class="input-large" placeholder="Feed Name">
      <input name="source_url" type="text" class="input-xlarge" placeholder="URL">
      <button type="submit" class="btn">Save</button>
    </form>
  </div>
{% endblock content %}

{% block javascripts %}
  <script src="{{ STATIC_URL }}js/feeds.js"></script>
{% endblock javascripts %}