{% extends 'alexander/base.html' %}

{% block title %}Feeds{% endblock title %}

{% block navitems %}
  <li><a href="/admin/items/">Items</a></li>
  <li class="active"><a href="/admin/feeds/">Feeds</a></li>
{% endblock navitems %}

{% block content %}
  <div class="container">
    <h1>Feeds</h1>
    <ul id="feeds-list" class="unstyled"></ul>

    <div id="feed-form-container"></div>
  </div>
{% endblock content %}

{% block javascripts %}
  <script src="{{ STATIC_URL }}alexander/js/feeds.js"></script>
{% endblock javascripts %}