{% extends 'alexander/base.html' %}
{% load jstemplate %}

{% block title %}Items{% endblock title %}

{% block navitems %}
  <li class="active"><a href="/admin/items/">Items</a></li>
  <li><a href="/admin/feeds/">Feeds</a></li>
{% endblock navitems %}

{% block content %}
  {% handlebarsjs '(.*)' %}

  <div class="container">
    <h1>Items</h1>
    <div id="content-item-list-wrapper"></div>
  </div>
{% endblock content %}

{% block javascripts %}
  <script src="{{ STATIC_URL }}alexander/js/items.js"></script>
{% endblock javascripts %}